body {
  scroll-behavior: smooth;
  font-family: quattrocento;
}

header {
  background-image: url(../img/vectorized-fruits.webp);
  border-top: solid #57BB6B 8px;
}

h1 {
  width: 204px;
  height: auto;
  margin: 0;
}

.header-card {
  background-color: #ffffffdd;
  padding: 36px 10px 29px;
  margin: 30px;
  font-size: 20px;
  color: #57BB6B;
  text-align: center;
}

.header-card p {
  margin: 0;
}

.button {
  background-color:#57BB6B;
  padding: 14px 10px;
}